In [1]:
# from scipy.optimize import minimize
# import numpy as np

In [2]:
# def func(xy):
#     x,y = xy
#     return np.sin(x)*np.sin(y)

# minimize(func, (0.1, -0.1))

  message: Optimization terminated successfully.
  success: True
   status: 0
      fun: -0.9999999999982316
        x: [ 1.571e+00 -1.571e+00]
      nit: 3
      jac: [-1.334e-06  1.326e-06]
 hess_inv: [[ 1.000e+00 -4.714e-04]
            [-4.714e-04  1.000e+00]]
     nfev: 27
     njev: 9

In [3]:
# result = minimize(func, (0.1, -0.1))
# result.x

array([ 1.57079498, -1.57079501])

In [4]:
# result = minimize(func, (0.1, -0.1), method="Powell")
# result

 message: Optimization terminated successfully.
 success: True
  status: 0
     fun: -1.0
       x: [ 1.571e+00 -1.571e+00]
     nit: 2
   direc: [[ 1.000e+00  0.000e+00]
           [ 0.000e+00  1.000e+00]]
    nfev: 38

In [8]:
import pandas as pd

In [6]:
# import os

In [7]:
# os.getcwd()

'C:\\Users\\woong\\p2p_power_trading_optimization\\code'

In [10]:
data = pd.read_csv('data/서울_전력_사용량(주택용).csv')
data.head()

,자치구별(1),계약종별(1),계약종별(2),2004. 01,2004. 02,2004. 03,2004. 04,2004. 05,2004. 06,2004. 07,...,2021. 03,2021. 04,2021. 05,2021. 06,2021. 07,2021. 08,2021. 09,2021. 10,2021. 11,2021. 12
0,서울시,합계,주택용,997773,1022829,929970,926836,887453,903489,935120,...,1090282,1112408,1060023,1127819,1391210,1844125,1336306,1131013,1126419,1175771

In [13]:
datak = data.iloc[0,3:]

In [16]:
datak.head()

2004. 01     997773
2004. 02    1022829
2004. 03     929970
2004. 04     926836
2004. 05     887453
Name: 0, dtype: object

In [ ]:
from scipy.optimize import minimize