In [1]:
# from scipy.optimize import minimize
# import numpy as np

In [2]:
# def func(xy):
#     x,y = xy
#     return np.sin(x)*np.sin(y)

# minimize(func, (0.1, -0.1))

  message: Optimization terminated successfully.
  success: True
   status: 0
      fun: -0.9999999999982316
        x: [ 1.571e+00 -1.571e+00]
      nit: 3
      jac: [-1.334e-06  1.326e-06]
 hess_inv: [[ 1.000e+00 -4.714e-04]
            [-4.714e-04  1.000e+00]]
     nfev: 27
     njev: 9

In [3]:
# result = minimize(func, (0.1, -0.1))
# result.x

array([ 1.57079498, -1.57079501])

In [4]:
# result = minimize(func, (0.1, -0.1), method="Powell")
# result

 message: Optimization terminated successfully.
 success: True
  status: 0
     fun: -1.0
       x: [ 1.571e+00 -1.571e+00]
     nit: 2
   direc: [[ 1.000e+00  0.000e+00]
           [ 0.000e+00  1.000e+00]]
    nfev: 38

In [3]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\165723\appdata\local\miniconda3\envs\ict\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.17.3
  Using cached numpy-1.21.6-cp37-cp37m-win_amd64.whl (14.0 MB)
Collecting pytz>=2017.3
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: six>=1.5 in c:\users\165723\appdata\local\miniconda3\envs\ict\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5 pytz-2023.3

In [4]:
import pandas as pd

In [6]:
# import os

In [7]:
# os.getcwd()

'C:\\Users\\woong\\p2p_power_trading_optimization\\code'

In [14]:
data1 = pd.read_csv('data/전력_사용량.csv')
data1.head()

,자치구별(1),계약종별(1),계약종별(2),2014. 01,2014. 02,2014. 03,2014. 04,2014. 05,2014. 06,2014. 07,...,2021. 03,2021. 04,2021. 05,2021. 06,2021. 07,2021. 08,2021. 09,2021. 10,2021. 11,2021. 12
0,서울시,합계,주택용,1187068,1174713,1029043,1066275,1004896,1058559,1121938,...,1090282,1112408,1060023,1127819,1391210,1844125,1336306,1131013,1126419,1175771

In [15]:
data2 = pd.read_csv('data/신재생에너지_생산량.csv')
data2.head()

     시점 신재생에너지 생산량 (TOE) 신재생에너지 생산량 (TOE).1 신재생에너지 생산량 (TOE).2
0    시점               소계                태양광                 풍력
1  2014           293656              11813                 41
2  2015           335139              16676                 43
3  2016           316806              19355                 43
4  2017           350881              23664                 46

In [16]:
data3 = pd.read_csv('data/세대수.csv')
data3.head()

,동별(1),2014. 01,2014. 02,2014. 03,2014. 04,2014. 05,2014. 06,2014. 07,2014. 08,2014. 09,...,2021. 03,2021. 04,2021. 05,2021. 06,2021. 07,2021. 08,2021. 09,2021. 10,2021. 11,2021. 12
0,동별(1),전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,...,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대,전체세대
1,합계,4182556,4188621,4190331,4189778,4189440,4189495,4190836,4193111,4195210,...,4400403,4403263,4403381,4405638,4409964,4416816,4421143,4422587,4424222,4426007

In [ ]:
from scipy.optimize import minimize